*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
/.idea/**/workspace.xml
/.idea/**/tasks.xml
/.idea/**/usage.statistics.xml
/.idea/**/dictionaries
/.idea/**/shelf
/.idea/**/deploymentTargetSelector.xml
/.idea/**/deploymentTargetDropDown.xml
/.idea/studiobot.xml
/.idea/other.xml
/.idea/**/gradle.xml
/.idea/**/libraries
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties

# key.properties - ignore this file when you put your real keys in key.properties